@font-face {
    font-family: Lobstar;
    src: url(./../font/LobsterTwo-Regular.ttf);
}

body,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    max-width: 100vw;
    font-size: 62.5%;
}

body{
   background: url(../image/raspberry.png) center center fixed;
   overflow-x: hidden;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.header{
    max-width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 0 0 4rem rgba(0,0,0,.4);
    background-color: rgba(0, 0, 0, 0.26);
}
.header h1{
    font-size: 5rem;
    display: block;
    padding: 1rem 10rem;
    color: rgba(225,225,225,.1);
    background-image: url(../image/images-1.jpg);
    /* background-repeat: repeat-x; */
    -webkit-background-clip:text;
    animation: animate 15s linear infinite;
}
@keyframes animate{
    0%{
        background-position: left 0 top 10px;
    }
    100%{
        background-position: left 800px top 10px;
    }
}

.wrapper{
    height: 80vh;
    width: 60rem;
    margin: 2rem auto;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 0;
}


.wrapper > *{
    width: 100%;
    height: 33.333333%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .middle{
    justify-content: center;
    height: 40%;
}

.wrapper .first,
.wrapper .last,
.wrapper .center{
    height: 200px;
    width: 200px;
    position: relative;
}

.wrapper .center{
    box-shadow: 0 0 4rem rgba(0,0,0,.6);
    width: 220px;
    border-radius: 4rem;
}
.pictures{
    position: relative;
    perspective: 150rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.pictures .side{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.pictures .one_side{
    background: url(../image/center.gif) center center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 4rem;
    position: relative;
}

.one_side .text{
    position: absolute;;
    display: inline-block;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    border-radius: 2rem;
    font-family: Lobstar, cursive;
    letter-spacing: 1px;
}

.flower{
    animation: round 10s linear infinite;
}
.flower > div{
    width: 100px;
    height: 100px;
    position: absolute;
}
div#f1{
    top: 0;
    left: 0;
    background-color: rgb(0, 128, 0);
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
}
div#f1-2{
    background-color: rgba(83, 26, 148, .8);
    transform-origin: 100% 100%;
    top: 0;
    left: 0;
    transform: rotateZ(-40deg);
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
}
div#f2{
    background-color: rgb(170, 170, 170);
    top: 0;
    right: 0;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 250px;
}
div#f2-2{
    background-color: rgba(116, 49, 49, .8);
    top: 0;
    right: 0;
    transform-origin: 0 100%;
    transform: rotateZ(-45deg);
    border-bottom-right-radius: 250px;
    border-top-left-radius: 250px;
}
div#f3{
    background-color: rgba(255, 17, 255, .7);
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 250px;
}
div#f3-2{
    background-color: rgba(93, 99, 11, 0.8);
    top: 0;
    right: 0;
    transform-origin: 0 100%;
    transform: rotateZ(45deg);
    border-bottom-right-radius: 250px;
    border-top-left-radius: 250px;
}
div#f4{
    background-color: rgba(0, 221, 0, .7);
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
}

div#f4-2{
    background-color: rgba(119, 194, 48, .8);
    bottom: 0;
    right: 0;
    transform-origin: 0 0;
    transform: rotateZ(44deg);
    border-bottom-left-radius: 250px;
    border-top-right-radius: 250px;
}


@keyframes round{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(359deg);
    }
}


@media screen and (max-width: 750px){
    .wrapper{
        max-width: 100vw;
    }
    .header{
        max-width: 100%;
    }
    .wrapper > *{
        flex-direction: column;
        justify-content: center;
    }
    .wrapper > *{
        height: 60rem;
    }
    .middle{
        height: 30rem;
    }
    .one_side .text{
        font-size: 1.2rem;
    }
    .wrapper .first,
    .wrapper .last,
    .wrapper .center{
        width: 200px;
        height: 200px;
    }
    .flower > div{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 450px){
    .header h1{
        font-size: 3rem;
    }
}


/* The Modal (background) */
.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contents {
    background: rgba(0,0,0,.4);
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 40rem;
    text-align: center;
    padding-bottom: 0;
}

.modal-contents iframe{
    height: 90%;
    width: 90%;
}


/* The Close Button */
#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* opening modal */
.modal-content { 
    color: #fff!important;
    font-size: 3rem!important;
    background: rgba(0, 0, 0, 0.6)!important;
    height: 24rem!important;
}
